@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
	font-family: dotum, Arial, Helvetica, sans-serif;
	font-size: 12px;
	vertical-align: middle;
}

body,h1,h2,h3,table {
	margin: 0;
	padding: 0;
	background-color: transparent;
	text-decoration: none;
	border: 0;
}

ul,li,dd,dt,dl {
	list-style: none;
}

caption,lable {
	display: none;
}

a {
	color: #666;
	text-decoration: none;
}

img {
	border: none;
}

p {
	word-break: keep-all;
	margin-left: 20px;
}

h2 {
	font-family: dotum;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	padding: 6px 17px;
	background: url(../images/icon_title.gif) no-repeat 1px;
	position: absolute;
}

input {
	margin-right: 2px;
	height: 15px;
	line-height: 18px;
	padding: 1px;
	vertical-align: top;
	color: #666;
	border: solid 1px #B3B3B3;
}

textarea {
	margin-right: 2px;
	width: 900px;
	height: 300px;
	line-height: 22px;
	padding: 1px;
	border: solid 1px #B3B3B3;
}

.topBar {
	height: 50px;
	width: auto;
	margin: 0 auto;
	padding: 0px 50px 0px 50px;
}

.logo {
	width: 450px;
	padding-top: 5px;
	float: left;
}

.admin {
	position: relative;
	top: 20px;
	float: right;
}

.admin li {
	float: left;
	margin: 0 2px;
}

.admin a {
	color: #666;
}

.admin .storng {
	color: #0c4da2;
	font-weight: bold;
}

.gnbBar {
	height: 32px;
	margin-bottom: 10px;
	padding-left: 50px;
	background: #0c4da2;
}

.container {
	width: auto;
	min-height: 100%;
	padding-left: 10px;
	clear: both;
	margin: 0 auto;
}

.location {
	height: 25px;
	width: auto;
	margin: 0 auto;
}

.location li {
	float: right;
}

.location li span {
	font-size: 11px;
	color: #666;
	padding: 0 2px;
}

.location li .bold {
	color: #0c4da2;
	font-weight: bold;
}

.list_table {
	clear: both;
	margin: 0 auto;
	width: 960px;
}

.table5 {
	border-top: solid 2px #1479c7;
	border-bottom: solid 2px #1479c7;
	text-align: center;
	color: #666666;
}

.table5 tr:hover {
	color: #000;
	background: #f9f9f9;
}

.table5 th {
	font-size: 12px;
	color: #1d69a3;
	padding-top: 7px;
	padding-bottom: 7px;
	border-left: solid 1px #b3d2e9;
	background: #f2f9ff;
}

.table5 td {
	font-size: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-top: solid 1px #b3d2e9;
	border-left: solid 1px #b3d2e9;
}

.table5 td:first-child {
	border-left: none;
}

.table5 th:first-child {
	border-left: none;
}

.btn {
	right: 0px;
	padding: 0px;
	float: right;
	position: relative;
}

.btnB {
	color: #444444;
	line-height: 24px;
	padding-right: 4px;
	font-family: '돋움', dotum;
	font-size: 12px;
	text-decoration: none !important;
	margin: 5px 2px;
	word-spacing: -1px;
	display: inline-block;
	white-space: nowrap;
	background: url(../images/btn_back.png) no-repeat 100% 0px;
}

.btnB span {
	height: 24px;
	color: #ffffff;
	line-height: 24px;
	padding: 0px 10px 0px 14px;
	font-family: dotum;
	font-size: 12px;
	font-weight: bold;
	display: block;
	background: url(../images/btn_back.png) no-repeat;
}

.btnT {
	margin: 0 2px;
	display: inline-block;
	padding-right: 4px;
	background: url(../images/btn_back.png) no-repeat 100% -75px;
	font-family: '돋움', dotum;
	font-size: 12px;
	color: #444;
	line-height: 24px;
	word-spacing: -1px;
	text-decoration: none !important;
	white-space: nowrap;
}

.btnT span {
	color: #333;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	font-family: dotum;
	display: block;
	background: url(../images/btn_back.png) 0 -75px;
	padding: 0 10px 0 14px
}

.pagination {
	font-size: 12px;
	color: #808080;
	line-height: 140%;
	text-align: center;
	padding: 15px 0;
}

.pagination strong {
	color: #438cbf;
	font-weight: bold;
}

.pagination a,.pagination strong {
	display: inline-block;
	position: relative;
	z-index: 2;
	margin: 0 -3px;
	padding: 0 8px 0 8px;
	text-decoration: none;
	vertical-align: top;
}

.pagination img {
	padding: 2px 0 1px 0;
}

.pagination a:hover,.pagination a:active,.pagination a:focus {
	color: #438cbf;
	font-weight: bold;
}

.tab_v1 {
	position: relative;
	height: 25px;
	margin-bottom: 5px;
	background: url(../images/tab_menu.gif) repeat-x 0 100%;
	font-family: '돋움', dotum;
	font-size: 12px;
	color: #666;
}

.tab_v1 ul,.tab_v1 ul li {
	margin: 0;
	padding: 0;
}

.tab_v1 ul li {
	list-style: none;
}

.tab_v1 ul li,.tab_v1 ul li a {
	background: url(../images/bg_tab_off.gif) no-repeat;
}

.tab_v1 ul li {
	float: left;
	margin-right: -1px;
	line-height: 22px;
}

.tab_v1 ul li a {
	display: inline-block;
	padding: 2px 16px 1px;
	_padding: 3px 16px 0;
	background-position: 100% 0;
	text-decoration: none !important;
}

.tab_v1 ul li.on,.tab_v1 ul li.on a {
	background-image: url(../images/bg_tab_on.gif);
}

.tab_v1 ul li.on a {
	color: #1d69a3;
	font-weight: bold;
}

.list_search_bg {
	border-radius: 5px;
	background: #f7f7f7;
	margin-bottom: 10px;
	padding: 10px;
	border: solid 1px #d5dfe4;
}

.list_search td {
	padding-right: 5px;
}

.th_line {
	border-top: solid 1px #b3d2e9;
}

.bottomBar {
	clear: both;
	height: 50px;
	width: 100%;
	text-align: center;
}
