@charset "utf-8";
/* CSS Document */

*
{
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	scrollbar-face-color: #ffffff;
	scrollbar-3dlight-color: #d8d8d8;
	scrollbar-shadow-color: #d8d8d8;
	scrollbar-highlight-color: #ffffff;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-arrow-color: #79a8bf;
	scrollbar-track-color: #f6f6f6;
}
.header HTML
{
	height: 100%;
	min-height: 100%;
}
.header BODY
{
	width: 100%;
	height: 100%;
	min-height: 100%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-color: rgb(255, 255, 255);
	color: #444;
	line-height: normal;
	font-family: "gulim";
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}
.header DIV
{
	color: #444;
	line-height: normal;
	font-family: "gulim";
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.header TABLE
{
	border-collapse: collapse;
}
.header TD
{
	color: #444;
	line-height: normal;
	font-family: "gulim";
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	border-collapse: collapse;
}
.header SELECT
{
	height: 18px;
	color: #777777;
	line-height: normal;
	font-family: "gulim";
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	vertical-align: middle;
}
.header INPUT
{
	color: #444;
	line-height: normal;
	font-family: "gulim";
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: middle;
	ime-mode: auto;
}
.header TEXTAREA
{
	color: #444;
	line-height: normal;
	font-family: "gulim";
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: middle;
	ime-mode: auto;
}
.header A
{
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #444;
	text-decoration: none;
}
.header P
{
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.header UL
{
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	list-style-type: none;
	list-style-image: none;
}
.header LI
{
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.header LI IMG
{
	vertical-align: top;
}
.header IMG
{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.header
{
	height: 134px;
	overflow: hidden;
	clear: both;
	background-image: url("../images/bg_top_gnb.gif");
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position-x: 0%;
	background-position-y: 0%;
	background-color: transparent;
	visibility: visible;
	min-width: 1208px;
}
.header .gnb
{
	height: 60px;
	position: relative;
	z-index: 220;
}
.header .iconMenu
{
	left: 13px;
	top: 0px;
	position: absolute;
	background-image: url("../images/bg_option_c.gif");
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position-x: 0%;
	background-position-y: 0%;
	background-color: transparent;
	white-space: nowrap;
}
.header .iconMenu LI
{
	height: 26px;
	float: left;
}
.header .iconMenu LI.l
{
	width: 6px;
	background-image: url("../images/bg_option_l.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-color: transparent;
}
.header .iconMenu LI.c
{
	padding-left: 2px;
	background-image: url("../images/ico_bar01.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: center;
	background-color: transparent;
}
.header .iconMenu LI.pre
{
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-color: transparent;
}
.header .iconMenu LI.r
{
	width: 6px;
	background-image: url("../images/bg_option_r.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-color: transparent;
}
.header .iconMenu LI .opt01
{
	width: 48px;
	height: 26px;
	display: inline-block;
	background-image: url("../images/opt_ico01.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-color: transparent;
	cursor: pointer;
}
.header .iconMenu li .opt01:hover {
	background: url(../images/opt_txt01.gif) center center no-repeat;
}
.header .iconMenu LI .opt02
{
	width: 48px;
	height: 26px;
	display: inline-block;
	background-image: url("../images/opt_ico02.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-color: transparent;
	cursor: pointer;
}
.header .iconMenu li .opt02:hover {
	background: url(../images/opt_txt02.gif) center center no-repeat;
}
.header .iconMenu LI .opt03
{
	width: 48px;
	height: 26px;
	display: inline-block;
	background-image: url("../images/opt_ico03.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-color: transparent;
	cursor: pointer;
}
.header .iconMenu li .opt03:hover {
	background: url(../images/opt_txt03.gif) center center no-repeat;
}
.header .iconMenu LI .opt04
{
	width: 48px;
	height: 26px;
	display: inline-block;
	background-image: url("../images/opt_ico04.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-color: transparent;
	cursor: pointer;
}
.header .iconMenu li .opt04:hover {
	background: url(../images/opt_txt04.gif) center center no-repeat;
}
.header .iconMenu LI .opt05
{
	width: 48px;
	height: 26px;
	display: inline-block;
	background-image: url("../images/opt_ico05.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-color: transparent;
	cursor: pointer;
}
.header .iconMenu li .opt05:hover {
	background: url(../images/opt_txt05.gif) center center no-repeat;
}
.header .iconMenu LI .opt06
{
	width: 48px;
	height: 26px;
	display: inline-block;
	background-image: url("../images/opt_ico06.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-color: transparent;
	cursor: pointer;
}
.header .iconMenu li .opt06:hover {
	background: url(../images/opt_txt06.gif) center center no-repeat;
}
.header .userInfo
{
	left: 20px;
	top: 35px;
	width: 100%;
	vertical-align: top;
	position: absolute;
}
.header .myInfo
{
	color: #848688;
	font-size: 11px;
	text-decoration: underline;
}
.header .logout
{
	height: 17px;
	padding-left: 67px;
	display: inline-block;
	background-image: url("../images/logout01.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 0px;
	background-color: transparent;
}
.header .topGuide
{
	top: 0px;
	text-align: right;
	right: 15px;
	position: absolute;
}
.header .topGuide .csCenter
{
	height: 21px;
	padding-top: 6px;
}
.header .topGuide .schipt
{
	height: 18px;
	line-height: 18px;
	padding-left: 5px;
	border-top-color: #145cc3;
	border-bottom-color: #145cc3;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-bottom-style: solid;
}
.header .topGuide SPAN
{
	width: 85px;
	height: 18px;
	text-align: right;
	padding-top: 0px;
	vertical-align: middle;
	border-top-color: #145cc3;
	border-bottom-color: #145cc3;
	border-left-color: #145cc3;
	border-top-width: 2px;
	border-right-width: medium;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	display: inline-block;
}
.header .topGuide IMG
{
	vertical-align: middle;
}
.header .lnb
{
	width: auto;
	height: 42px;
	padding-left: 20px;
	position: relative;
	background-image: url("../images/bg_top_nav.gif");
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position-x: 0%;
	background-position-y: 0%;
	background-color: transparent;
}
.header .lnb LI
{
	float: left;
}
.header .rollover
{
	padding-right: 25px;
	cursor: pointer;
}
.header .rollover IMG
{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	display: inline;
}
.header .rollover IMG.over
{
	display: none;
}
.header .rollover:hover
{
	border: 0px;
}
.header .rollover:hover IMG
{
	display: none;
}
.header .rollover:hover IMG.over
{
	display: inline;
}
.header .snb
{
	left: 27px;
	position: relative;
	z-index: 200;
}
.header .snb UL
{
	top: 42px;
	width: 1200px;
	background-image: url("../images/svm_lay_c.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-color: transparent;
}
.header .snb LI
{
	height: 30px;
	float: left;
}
.header .snb .sm_l
{
	width: 5px;
	background-image: url("../images/svm_lay_l.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-color: transparent;
}
.header .snb .sm_r
{
	width: 5px;
	background-image: url("../images/svm_lay_r.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-color: transparent;
}
.header .snb .sm_c
{
	padding-top: 9px;
	background-image: url("../images/svm_lay_c.gif");
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position-x: 0%;
	background-position-y: 0%;
	background-color: transparent;
}
.header .snb .sm_c A
{
	height: 13px;
	color: #787878;
	line-height: 13px;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
	font-weight: bold;
	background-image: url("../images/svm_lay_bar.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-color: transparent;
	cursor: pointer;
}
.header .snb .sm_c A.barNo
{
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-color: transparent;
}
.header .work
{
	top: 109px;
	right: 7px;
	position: absolute;
	z-index: 210;
}
