body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select
	{
	margin: 0;
	padding: 0;
}

body {
	min-width: 320px;
}

body.open-menu {
	overflow: hidden;
}

.bg_modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 150%;
	z-index: 1000;
	background: #000;
	opacity: .5;
	filter: alpha(opacity = 50);
}

.left-menu {
	position: fixed;
	left: -270px;
	top: 0;
	overflow: hidden;
	z-index: 5000;
	height: 100%;
	width: 270px;
	background: #000;
	display: ;
	color: #fff;
}

.right-menu {
	position: fixed;
	left: 100%;
	top: 0;
	overflow: hidden;
	z-index: 5000;
	height: 100%;
	width: 270px;
	background: #000;
	display: ;
	color: #fff;
}

.d-table {
	display: table;
	width: 100%;
}

.d-row {
	display: table-row;
}

.d-cell1 {
	display: table-cell;
	width: 90%;
}

.d-cell2 {
	display: table-cell;
	width: 10%;
}

.SlideContent {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	border: 0 none;
	background: #fff;
}

.SlideContent .arrow-left {
	position: absolute;
	top: 50%;
	left: 10px;
	width: 17px;
	height: 30px;
	margin-top: -15px;
	background: url(img/arrows.png) no-repeat left top;
}

.SlideContent .arrow-right {
	position: absolute;
	top: 50%;
	right: 10px;
	width: 17px;
	height: 30px;
	margin-top: -15px;
	background: url(img/arrows.png) no-repeat left bottom;
}

.swiper-container {
	width: 100%;
	min-height: 300px;
}

.content-slide {
	padding: 0;
}

.title {
	margin-bottom: 0;
	font-size: 25px;
}

.pagination {
	display: none;
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 100%;
	text-align: center;
}

.swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 3px;
	border-radius: 10px;
	background: #999;
	box-shadow: 0 1px 2px #555 inset;
	cursor: pointer;
}

.swiper-active-switch {
	background: #fff;
}

.tabs {
	display: table;
	width: 100%;
}

.tabs a {
	display: table-cell;
	line-height: 45px;
	background: #fdfdfd;
	text-align: center;
	color: #000;
	text-decoration: none;
}

.tabs a.active {
	background: red;
	color: #fff;
}

.bt_gotoMain {
	
}

.hc {
	display: none;
}

.sc-lnb {
	position: relative;
	width: 100%;
	height: 45px;
	text-align: center;
	overflow: hidden;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.swiper-slide {
	height: 100%;
}

.swiper-slide .title {
	font-style: normal;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 45px;
	padding: 0 7px;
	border-left: 1px solid #eee;
	background: #fefefe;
}

.pagination {
	position: absolute;
	z-index: 20;
	left: 10px;
	bottom: 10px;
}

.swiper-pagination-switch {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #222;
	margin-right: 8px;
	opacity: 0.8;
	border: 1px solid #fff;
	cursor: pointer;
}

.swiper-visible-switch {
	background: #aaa;
}

.swiper-active-switch {
	background: #fff;
}