@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
	font-family: dotum, Arial, Helvetica, sans-serif;
	font-size: 12px;
	vertical-align: middle;
}

body, h1, h2, h3, table {
	margin: 0;
	padding: 0;
	background-color: transparent;
	font-size: 12px;
	text-decoration: none;
	border: 0;
}

ul, li, dd, dt, dl {
	list-style: none;
}

caption, lable {
	display: none;
}

a {
	color: #666;
	text-decoration: none;
}

img {
	border: none;
}

p {
	word-break: keep-all;
	margin-left: 20px;
}

.topBar {
	height: 50px;
	width: 1250px;
	margin: 0 auto;
}

.logo {
	width: 450px;
	float: left;
}

.admin {
	position: relative;
	top: 20px;
	float: right;
}

.admin li {
	float: left;
	margin: 0 2px;
}

.admin a {
	color: #666;
}

.admin .storng {
	color: #0c4da2;
	font-weight: bold;
}

.gnbBar {
	height: 32px;
	margin-bottom: 10px;
	background: #0c4da2;
}

.container {
	width: 1240px;
	padding-left: 10px;
	clear: both;
	margin: 0 auto;
}