<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>DaumHome</display-name>

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml, /WEB-INF/security-context.xml</param-value>
	</context-param>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>

	<!-- Encoding setting -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- spring security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- log4j -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<!-- CodeValue -->
	<listener>
		<listener-class>com.components.codevalue.CodeValueSyncListener</listener-class>
	</listener>

	<!-- Chat -->
	<listener>
		<listener-class>com.components.chat.ChatStartListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.common.HttpSessionListenerImpl</listener-class>
	</listener>

	<session-config>
		<session-timeout>60</session-timeout><!-- 60분 -->
	</session-config>

	<servlet>
		<servlet-name>chat</servlet-name>
		<servlet-class>com.components.chat.ChatClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>chat</servlet-name>
		<url-pattern>/chatClient.do</url-pattern>
	</servlet-mapping>

	<!-- URL mapping -->
	<!-- Processes application requests -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- Quartz Scheduler -->
	<!-- <servlet>
		<servlet-name>JSStartServlet</servlet-name>
		<servlet-class>com.components.jobsch.JSStartServlet</servlet-class>
		<init-param>
			<param-name>receiver</param-name>
			<param-value>local</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet> -->

	<jsp-config>
		<taglib>
			<taglib-uri>http://eagleoffice.co.kr/tags/neo</taglib-uri>
			<taglib-location>/WEB-INF/tld/neo.tld</taglib-location>
		</taglib>
	</jsp-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
